#opening-quotes{
    width: 7%;
    height: 10%;
    object-fit: cover;
    margin-right: 80%;
}

.landing-page{
  margin-top: 3%;
}

/* .navbar-logo{
  margin-right: 100px;
}

#logo{
  width: 100px;
  height: 100px;
  margin-left: 75px;
  margin-top: 20px;
} */

#closing-quotes{
    width: 7%;
    height: 10%;
    object-fit: cover;
    margin-left: 76%;
} 

h2{
    font-size: 70px;
    color: #411900;
    
}

#mic{
    width: 20%;
    height: 15%;
    object-fit: cover;
    
}

#presentors{
    width: 45%;
    height: 15%;
    object-fit: cover;

}

.second-layout{
    display: flex;
    gap: 5%;
    margin-left: 21%;
    
}

.navbar {
    display: flex;
    gap: 40px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    font-size: 23px;
    font-variant:inherit;
    margin-left: 7%;
   
  }
  
  .navbar-content {
    display: flex;
    list-style-type: none;
    gap: 7rem;
  
  }
  .navbar-content a {
    color: #411900;;
    text-decoration: none;
    font-size: larger;
  }
  .navbar-content a:hover {
    color: chocolate;
    transform: scale(1.2);
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: #411900;
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  @media only screen and (min-device-width: 280px) and (max-device-width: 290px) {
    #opening-quotes{
      width: 10%;
      height: 10%;
      object-fit: cover;
    
  }
  
  .landing-page{
      width: 95%;
  }
  
  /* .navbar-logo{
    margin-right: 100px;
  }
  
  #logo{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 20px;
  } */
  
  #closing-quotes{
      width: 10%;
      height: 10%;
      object-fit: cover;
  } 
  
  h2{
      font-size: 30px;
      color: #411900;

      
  }
  
  #mic{
      width: 55%;
      height: 95%;
      margin-left: 30px;
      object-fit: cover;
      
  }
  
  #presentors{
      width: 85%;
      height: 130%;
      object-fit: cover;
  
  }
  
  .second-layout{
      display: grid;
      
  }

  .navbar {
    padding: 0.1rem;

  }
  

  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 87%;
    height: 85%;
    background-color: #411900;
    z-index: 1;
    padding: 1rem;
    opacity: 0.8;
    font-size:large;
  

  }

  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
    /* margin-top: 20px; */
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
  }
  .hamburger {
    display: flex;
    margin-right: 5%;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 0.1rem;

  }
/* .navbar-logo{
  margin-right: 5%;

} */

  
#mic{
  width: 55%;
  height: 99%;
  margin-left: 40px;
  object-fit: cover;
  
}

#presentors{
  width: 85%;
  height: 120%;
  object-fit: cover;
  margin-left: -7px;

}

.second-layout{
  display: grid;
}

  /* #logo{
    width: 50px;
    height: 50px;
    margin-left: 25%;
   
  } */

  .container{
    display: grid;
    font-size: 15px;
    gap: 0%;
    border: none;
    margin-top: 5%;
    font-size: 21px;

  }

  h2{

    font-size: 45px;
    margin-top: 10%;
  
  }

  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 89%;
    height: 85%;
    background-color:#411900;
    z-index: 1;
    padding: 1.2rem;
    opacity: 0.8;
    font-size: large;

  }
  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
  }
  .hamburger {
    display: flex;
    margin-right: 1%;
  }
}



@media only screen and (min-device-width: 481px) and (max-device-width: 680px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 0.1rem;

  }
.navbar-logo{
  margin-right: 5%;
}

  /* #logo{
    width: 50px;
    height: 50px;
    margin-left: 5%;
  } */

  .container{
    display: grid;
    font-size: 15px;
    gap: 0%;
    border: none;
    margin-top: 5%;

  }

  h2{

    font-size: 50px;
    margin-top: 10%;
  
  }


  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 90%;
    background-color:#030d14;
    z-index: 1;
    padding: 1rem;
    opacity: 0.8;

  }
  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
  }
  .hamburger {
    display: flex;
    margin-right: 2%;
  }
}



@media only screen and (min-device-width: 681px) and (max-device-width: 880px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 0.1rem;

  }
.navbar-logo{
  margin-right: 5%;
}

  #logo{
    width: 50px;
    height: 50px;
    margin-left: 65%;
  }

  .container{
    display: flex;
    font-size: 15px;
    gap: 10%;
    border: none;
    margin-top: 5%;
    font-size: 20px;


  }

  h2{

    font-size: 40px;
    margin-top: 10%;
  
  }

  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 96%;
    background-color:#411900;
    z-index: 1;
    padding: 1rem;
    opacity: 0.8;

  }
  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
  }
  .hamburger {
    display: flex;
    margin-right: 2%;
  }
}



@media only screen and (min-device-width: 881px) and (max-device-width: 1020px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 0.1rem;

  }

  #closing-quotes{
    width: 7%;
    height: 10%;
    margin-top: 5%;
    object-fit: cover;
   
}

  #mic{
    width: 55%;
    height: 99%;
    margin-left: 65px;
    object-fit: cover;
    
  }
  
  #presentors{
    width: 80%;
    height: 90%;
    object-fit: cover;
    margin-left: 10px;
  
  }
  
  .second-layout{
    display: grid;
  }
/*   
.navbar-logo{
  margin-right: 5%;
}

  #logo{
    width: 50px;
    height: 50px;
    margin-left: 75%;
  } */

  .container{
    display: flex;
    font-size: 15px;
    gap: 10%;
    border: none;
    margin-top: 5%;
    font-size: 25px;
  

  }

  h2{

    font-size: 50px;
    margin-top: 10%;
  
  }

  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 95%;
    height: 80%;
     background-color:#411900;
    z-index: 1;
    padding: 1rem;
    opacity: 0.8;

  }
  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
    font-size: 50px;
    gap:2%;
  }
  .hamburger {
    display: flex;
    margin-right: 2%;
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1050px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 1rem;
    font-size: 15px;
    gap: 2px;

  }

  .second-layout{
    display: flex;
    margin-right: -30px;
  }
/*   
/* .navbar-logo{
  margin-right: 5%;
}

  #logo{
    width: 50px;
    height: 50px;
    margin-left: 70%;
  } */

  .container{
    display: flex;
    font-size: 30px;
    gap: 10%;
    border: none;
    margin-top: 5%;
  

  }

  h2{

    font-size: 40px;
  
  }
}

@media only screen and (min-device-width: 1051px) and (max-device-width: 1500px) {
  body{
    width: 95%;
  }
  
  .navbar {
    padding: 1rem;
    font-size: larger;

  }
/* .navbar-logo{
  margin-right: 5%;
}

  #logo{
    width: 50px;
    height: 50px;
    margin-left: 70%;
  } */

  .container{
    display: flex;
    font-size: 30px;
    gap: 10%;
    border: none;
    margin-top: 5%;
  

  }

  h2{

    font-size: 45px;
   
  }

}


@media only screen and (min-device-width: 540px) and (max-device-width: 550px) {
  body{
    width: 95%;
    
  }
  
  .navbar {
    padding: 0.1rem;
    

  }

  .second-layout{
    display: flex;
    margin-right: -50px;
  }
  
/* .navbar-logo{
  margin-right: 5%;

} */

  /* #logo{
    width: 50px;
    height: 50px;
    margin-left: 45%;
   
  } */

  .container{
    display: grid;
    font-size: 27px;
    margin-top: 5%;
  

  }

  h2{

    font-size: 40px;
    margin-top: 10%;
  
  }

  .navbar-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 97%;
    background-color:#411900;
    z-index: 1;
    padding: 1rem;
    opacity: 0.8;
    font-size:large;
  

  }

  .navbar-content.active {
    display: flex;
  }
  .navbar-content li {
    margin: -0.9rem ;
    margin-top: 20px;
  }
  .navbar-content a {
    color: white;
    padding: 0.2 rem;
    display: block;
  }
  .hamburger {
    display: flex;
    margin-right: 5%;
  }
}
