.interactiveBox {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
}
.interactiveBox {
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    background-color: #333; 
    color: white; 
    padding: 30px; 
    margin: 20px; 
    border-radius: 10px; 
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); 
    font-family: Arial, sans-serif;
    font-size: 23px; 
    width: 200px; 
    height: 100px; 
}


.box-text {
    margin-bottom: 10px; 
}




@media (min-width: 768px) { 
    .interactiveBox {
        display: inline-flex; 
    }
}

.box-text {
    margin-bottom: 10px; 
}

