#content{
   font-size: 40px;
   font-style: oblique;
   margin-left: 90px;
}

h1{
    color: brown;
    font-style: normal;
}
#image{
  width: 400px;
  margin-left: 5%;
}





  @media (min-width: 320px) {
   
    #content {
      font-size: 20px;
      margin-left: 50px;
    }
  }

  @media (min-width: 480px) {
    
    #content {
      font-size: 22px;
      margin-left: 60px;
    }

    h1 {
      color: brown;
    }
  }

  @media (min-width: 768px) {
  
    #content {
      font-size: 26px;
      margin-left: 80px;
    }

    h1 {
      color: brown;
    }
  }

  @media (min-width: 1024px) {
    
    #content {
      font-size: 28px;
      margin-left: 90px;
    }

    h1 {
      color: brown;
    }
  }

  @media (min-width: 1200px) {
   
    #content {
      font-size: 20px;
      margin-left: 100px;
    }

    h1 {
      color: brown;
      font-size: 30px;
    }
  }
