.subscribe{
    text-align: center;
    font-size: large;
    color: white;
   
 }
 input{
    height: 50px;
    width: 400px;
    margin-top: 20px;
    margin-left: 1%;
 }
 .sms{
 display: flex;
 justify-content: center;
 font-size: large;
 color: white;
 }
 #whatsapp{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 8%;
    font-size: x-large;
    margin-right: 90px;
    color: white;
 }
 
 
 #calling{
    display: flex;
    font-size: x-large;
    margin-left: -135px;
    align-items: center;
    margin-bottom: 1%;
    color: white;
   
 
 
 }
 
 
 .color{
    background-color: rgb(65, 25, 0);
    border-radius: 20px;
   
 }
 
 
 #email{
    display: flex;
    gap: 3%;
    font-size: x-large;
    margin-bottom: 20px;
    align-items: center;
    color: white;
   
 }
 .bottomfooter{
    display: flex;
    gap: 15%;
    justify-content: center;
    color: white;
   
 }
 .images{
 display: flex;
 margin-left: 850px;
 gap: 2%;
 align-items: center;
 color: white;
 
 
 }
 h1{
    text-align: center;
    margin-left: 10px;
    color: white;
 }

 
 
 @media screen and (min-width:270px) and (max-width:350px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -26%;
 
 
 
 
       
    }
    .follow{
        margin-right: 60px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -11%;
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -11%;
        align-items: center;
    }
   
    .color{
        background-color: cadetblue;
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -11%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 7%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -12%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:351px) and (max-width:400px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -16%;
 
 
 
 
       
    }
    .follow{
        margin-right: 61px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -13%;
        /* padding-left: 0px; */
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -13.5%;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -35%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:401px) and (max-width:450px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -13%;
 
 
 
 
       
    }
    .follow{
        margin-right: 60px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -12%;
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -42%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 
 
 @media screen and (min-width:451px) and (max-width:680px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -7%;
 
 
    }
    .follow{
        margin-left: -66%;
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 85px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     gap: 10%;
     margin-left: -130px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: large;
        margin-left: -14%;
       
   
    }
   
    #calling{
        display: flex;
        font-size: large;
        gap: 8%;
        margin-bottom: 5px;
        margin-left: -14%;
       
       
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: large;
        margin-bottom: 4px;
        margin-left: -14%;
       
    }
    .bottomfooter{
        display:block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 4%;
    gap: 2%;
   
    }
    h1{
        text-align: center;
        font-size: x-large;
        margin-left: -59%;
        padding-top: 35px;
    }
   
 }
 
 
 @media screen and (min-width:681px) and (max-width:880px){
 
 
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -2%;
 
 
    }
   
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 235px;
    }
    .enter{
        font-size: x-large;
    }
    .sms{
     /* text-align: center; */
     font-size:x-large;
     gap: 10%;
     margin-left: 20px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: x-large;
        margin-left: -39%;
        gap: 3%;
       
    }
   
    #calling{
        display: flex;
        font-size: x-large;
        gap: 3%;
        margin-bottom: 5px;
        margin-left: -39%;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: x-large;
        margin-bottom: 5px;
        margin-left: -39%;
       
    }
    .bottomfooter{
        display:block;
        gap: 15%;
        margin-left: 31%;
    }
    .images{
    display: flex;
    margin-left: 4%;
    gap: 2%;
   
    }
    h1{
        margin-left: -67%;
        font-size: xx-large;
        padding-top: 35px;
    }
   
 }
 
 
 
 
 @media screen and (min-width:881px) and (max-width:1020px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -5%;
 
 
       
    }
    .follow{
        margin-left: -70%;
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 309px;
    }
    .enter{
        font-size: x-large;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: -50px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: x-large;
        margin-left: -45%;
        gap: 3%;
    }
   
    #calling{
        display: flex;
        font-size: x-large;
        margin-bottom: 5px;
        margin-left: 2%;
        margin-left: -45%;
   
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 1370px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: x-large;
        margin-bottom: 4px;
        margin-left: -45%;
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 34%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
   
   
    }
    h1{
        text-align: center;
        font-size: xx-large;
        margin-left: -65%;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:1021px) and (max-width:1100px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        margin-left: -20px;
        font-size: x-small;
 
 
       
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 43%;
    }
    .enter{
        font-size: large;
        margin-left: 3%;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: 2%;
    }
    #whatsapp{
 
 
        margin-bottom: 50px;
        font-size: x-large;
        align-items: center;
       
    }
   
    #calling{
       
        font-size:x-large;
        margin-bottom: 50px;
        margin-left: 10px;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
   
        font-size: larger;
        margin-bottom: 40px;
        align-items: center;
      
    }
    .bottomfooter{
        display: flex;
        justify-content: center;
        gap: 8%;
        padding-right: 10px;
       
    }
    .images{
    display: flex;
    margin-left: 39.5%;
    gap: 2%;
 
 
   
   
    }
    h1{
        text-align: center;
        font-size:40px;
        margin-right: 8%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:1280px) and (max-width:1300px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        margin-left: -20px;
        font-size: x-small;
 
 
       
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 43%;
    }
    .enter{
        font-size: large;
        margin-left: 3%;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: 2%;
    }
    #whatsapp{
 
 
        margin-bottom: 50px;
        font-size: x-large;
        align-items: center;
       
    }
   
    #calling{
       
        font-size:x-large;
        margin-bottom: 50px;
        margin-left: 10px;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
   
        font-size: larger;
        margin-bottom: 40px;
        align-items: center;
      
    }
    .bottomfooter{
        display: flex;
        justify-content: center;
        gap: 8%;
        padding-right: -10px;
       
    }
    .images{
    display: flex;
    margin-left: 40%;
    gap: 2%;
 
 
   
   
    }
    h1{
        text-align: center;
        font-size:40px;
        margin-right: 10%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .subscribe{
    text-align: center;
    font-size: large;
   
 }
 input{
    height: 50px;
    width: 400px;
    margin-top: 20px;
    margin-left: 1%;
 }
 .sms{
 display: flex;
 justify-content: center;
 font-size: large;
 }
 #whatsapp{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 8%;
    font-size: x-large;
    margin-right: 90px;
 }
 
 
 #calling{
    display: flex;
    font-size: x-large;
    margin-left: -135px;
    align-items: center;
    margin-bottom: 1%;
   
 
 
 }
 
 
 .color{
    background-color:rgb(65, 25, 0);
    border-radius: 20px;
   
 }
 
 
 #email{
    display: flex;
    gap: 3%;
    font-size: x-large;
    margin-bottom: 20px;
    align-items: center;
   
 }
 .bottomfooter{
    display: flex;
    gap: 15%;
    justify-content: center;
   
 }
 .images{
 display: flex;
 margin-left: 850px;
 gap: 2%;
 align-items: center;
 
 
 }
 h1{
    text-align: center;
    margin-left: 10px;
 }
 
 
 @media screen and (min-width:270px) and (max-width:350px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -26%;
 
 
 
 
       
    }
    .follow{
        margin-right: 60px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -11%;
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -11%;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -11%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 7%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -12%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:351px) and (max-width:400px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -16%;
 
 
 
 
       
    }
    .follow{
        margin-right: 61px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -13%;
        /* padding-left: 0px; */
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -13.5%;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -35%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:401px) and (max-width:450px){
    .subscribe{
        /* display: block; */
        font-size: small;
        margin-left: -13%;
 
 
 
 
       
    }
    .follow{
        margin-right: 60px;
    }
    input{
        height: 50px;
        width: 200px;
        margin-top: 0px;
        margin-left: 63px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     text-align: center;
     margin-left: 5px;
    }
    #whatsapp{
        margin-bottom: 5px;
        font-size: large;
        margin-left: -12%;
        align-items: center;
       
    }
   
    #calling{
       
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        font-size: large;
        margin-bottom: 5px;
        margin-left: -12%;
        align-items: center;
       
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
 
 
   
    }
     h1{
       margin-left: -42%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 
 
 @media screen and (min-width:451px) and (max-width:680px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -7%;
 
 
    }
    .follow{
        margin-left: -66%;
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 85px;
    }
    .enter{
        font-size: large;
    }
    .sms{
     /* text-align: center; */
     font-size: large;
     gap: 10%;
     margin-left: -130px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: large;
        margin-left: -14%;
       
   
    }
   
    #calling{
        display: flex;
        font-size: large;
        gap: 8%;
        margin-bottom: 5px;
        margin-left: -14%;
       
       
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: large;
        margin-bottom: 4px;
        margin-left: -14%;
       
    }
    .bottomfooter{
        display:block;
        gap: 15%;
        margin-left: 15%;
    }
    .images{
    display: flex;
    margin-left: 4%;
    gap: 2%;
   
    }
    h1{
        text-align: center;
        font-size: x-large;
        margin-left: -59%;
        padding-top: 35px;
    }
   
 }
 
 
 @media screen and (min-width:681px) and (max-width:880px){
 
 
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -2%;
 
 
    }
   
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 235px;
    }
    .enter{
        font-size: x-large;
    }
    .sms{
     /* text-align: center; */
     font-size:x-large;
     gap: 10%;
     margin-left: 20px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: x-large;
        margin-left: -39%;
        gap: 3%;
       
    }
   
    #calling{
        display: flex;
        font-size: x-large;
        gap: 3%;
        margin-bottom: 5px;
        margin-left: -39%;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: x-large;
        margin-bottom: 5px;
        margin-left: -39%;
       
    }
    .bottomfooter{
        display:block;
        gap: 15%;
        margin-left: 31%;
    }
    .images{
    display: flex;
    margin-left: 4%;
    gap: 2%;
   
    }
    h1{
        margin-left: -67%;
        font-size: xx-large;
        padding-top: 35px;
    }
   
 }
 
 
 
 
 @media screen and (min-width:881px) and (max-width:1020px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        font-size: xx-small;
        margin-left: -5%;
 
 
       
    }
    .follow{
        margin-left: -70%;
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 309px;
    }
    .enter{
        font-size: x-large;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: -50px;
    }
    #whatsapp{
        display: flex;
        margin-bottom: 5px;
        font-size: x-large;
        margin-left: -45%;
        gap: 3%;
    }
   
    #calling{
        display: flex;
        font-size: x-large;
        margin-bottom: 5px;
        margin-left: 2%;
        margin-left: -45%;
   
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 1370px;
        margin-top: -20px;
       
    }
   
    #email{
        display: flex;
        font-size: x-large;
        margin-bottom: 4px;
        margin-left: -45%;
    }
    .bottomfooter{
        display: block;
        gap: 15%;
        margin-left: 34%;
    }
    .images{
    display: flex;
    margin-left: 5%;
    gap: 2%;
   
   
    }
    h1{
        text-align: center;
        font-size: xx-large;
        margin-left: -65%;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:1021px) and (max-width:1100px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        margin-left: -20px;
        font-size: x-small;
 
 
       
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 43%;
    }
    .enter{
        font-size: large;
        margin-left: 3%;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: 2%;
    }
    #whatsapp{
 
 
        margin-bottom: 50px;
        font-size: x-large;
        align-items: center;
       
    }
   
    #calling{
       
        font-size:x-large;
        margin-bottom: 50px;
        margin-left: 10px;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
   
        font-size: larger;
        margin-bottom: 40px;
        align-items: center;
      
    }
    .bottomfooter{
        display: flex;
        justify-content: center;
        gap: 8%;
        padding-right: 10px;
       
    }
    .images{
    display: flex;
    margin-left: 39.5%;
    gap: 2%;
 
 
   
   
    }
    h1{
        text-align: center;
        font-size:40px;
        margin-right: 8%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 
 @media screen and (min-width:1280px) and (max-width:1300px){
    .subscribe{
        display: block;
        justify-content: center;
        margin-top: 0px;
        margin-left: -20px;
        font-size: x-small;
 
 
       
    }
    input{
        height: 50px;
        width: 250px;
        margin-top: 0px;
        margin-left: 43%;
    }
    .enter{
        font-size: large;
        margin-left: 3%;
    }
    .sms{
     /* text-align: center; */
     font-size: x-large;
     margin-left: 2%;
    }
    #whatsapp{
 
 
        margin-bottom: 50px;
        font-size: x-large;
        align-items: center;
       
    }
   
    #calling{
       
        font-size:x-large;
        margin-bottom: 50px;
        margin-left: 10px;
        align-items: center;
    }
   
    .color{
        background-color: rgb(65, 25, 0);
        border-radius: 0px;
        width: 100%;
        height: 890px;
        margin-top: -20px;
       
    }
   
    #email{
   
        font-size: larger;
        margin-bottom: 40px;
        align-items: center;
      
    }
    .bottomfooter{
        display: flex;
        justify-content: center;
        gap: 8%;
        padding-right: -10px;
       
    }
    .images{
    display: flex;
    margin-left: 40%;
    gap: 2%;
 
 
   
   
    }
    h1{
        text-align: center;
        font-size:40px;
        margin-right: 10%;
        font-size: x-large;
        padding-top: 35px;
       
    }
   
 }
 
 